[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fbprophet = "==0.3.post2"
pandas = "*"
"boto3" = "*"
matplotlib = "*"
sortedcontainers = "*"
scipy = "*"
Flask = "*"
APScheduler = "*"
prometheus_client = "*"
# https://github.com/facebook/prophet/issues/326#issuecomment-483534128
pystan = "==2.17.1.0" # https://github.com/facebook/prophet/issues/249#issuecomment-451805510
#pystan = "<=2.18.1"
# for https://github.com/facebook/prophet/issues/808
numpy = "==1.14.5"

[dev-packages]

[requires]
python_version = "3.6"
