[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fbprophet = "==0.3post2"
pandas = "*"
"boto3" = "*"
matplotlib = "*"
sortedcontainers = "*"
scipy = "*"
Flask = "*"
APScheduler = "*"
prometheus_client = "*"
pystan = "<=2.18.1"

[dev-packages]

[requires]
python_version = "3.6"
